.App {
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  
  font-size: calc(10px + 2vmin);
  color: white;
}

nav a{
  color: yellow;
  padding: 10px 20px;
}

nav a.active-link{
  color: rgb(0, 255, 106);
}

.App-link {
  color: #61dafb;
}

